/*  ========== Обнуляющие стили ========== */


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    margin: 0;
   
}

ol,
ul,
li{
    list-style: none;
}

img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
}


/* основные правила для всей css страницы */


body{
    font-family: Rubik;
    font-size: 15px;
    
}

/* ================================================= */
.wrapper{
    /* не разрешает появлятся нижнему скроллу */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height:100%;

}

/* для всех классов, у которых будет добавлен __container, будет примиино правило */
[class*=__container]{
    max-width: 1057px;
    width: 100%;
    margin: 0 auto;
}


/* ================header ================*/


.header {
    margin: 37px 0;

}
.header__container {
    display: flex;
    justify-content: space-around;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 700px;
    color: #000 ;
    line-height: 21px;

}
.span_red {
    color:#EC5863;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__item {
    margin-right: 40px;
}
.item__href-nav{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700px;
    font-size: 10px;
    line-height: 12px;
    color: #000;
}
.header__button {
 display: flex;
 justify-content: center;
 align-items: center;
}
.button {
    padding: 14px 30px;
    border-radius: 5px;

    font-family: 'Raleway';
    font-style: normal; 
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    color: #fff;

    text-transform: uppercase;
}
.button_blue {
    background-color: #4285F4;
}

/*============== main ========== */


.main { 
    /* опускает подвал сайта в подвал сайта */
    flex: 1 1 auto;
}


/*============== footer========== */


.footer {
}