/*  ========== Обнуляющие стили ========== */


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    margin: 0;

}

ol,
ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}


/* основные правила для всей css страницы */


body {
    font-family: Rubik;
    font-size: 15px;

}

/* ================================================= */
.wrapper {
    /* не разрешает появлятся нижнему скроллу */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

/* для всех классов, у которых будет добавлен __container, будет примиино правило */
[class*=__container] {
    max-width: 1097px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}




/* ================header ================*/


.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}


.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 21px;


}
.span_red {
    color: #EC5863;
}


.header__menu {
    flex: 1 1 auto;
}


/* модификатор, позволяющий разместить меню в нужное положение */
.menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}
.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__item {
    margin-right: 40px;
}
.menu__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700px;
    font-size: 10px;
    line-height: 12px;
    color: #000;

    transition: color 0.5s linear;
}
.menu__link:hover {
    color: rgb(88, 86, 86);
}
.header__button {
    display: flex;
    justify-content: end;
    flex: 0 0 252px;
    align-items: center;

}

.button {
    padding: 14px 30px;
    border-radius: 5px;
    display: inline-block;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    color: #FCFDFE;
    letter-spacing: 0.7px;

    text-transform: uppercase;



}

.button_blue {
    background-color: #4285F4;
    transition: background 0.5s linear;
}
.button_pink{
    background-color: #EC5863;
}

.button_blue:hover {
    background-color: #71a2f1;
}


/* перемещаем сюда медия запросы, из за веса селекторов */


/* меню бургер без JS */


.close-icon-menu,
.icon-menu {
    display: none;
}


/*============== main ========== */


.main {
    /* опускает подвал сайта в подвал сайта */
    flex: 1 1 auto;
    
}


/*=================== health========================= */


.health {
    
    background-color: #E5E5E5;
}
.health__container {
    display: flex;
    position: relative;
    padding: 150px 15px 50px 15px;

}
.health__container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 252px;
    top: 0;
    border-radius: 30px 0 0 30px;
    background-color: #EC5863;
    margin-left: -252px;
    transform: translate(100%,0);
    z-index: 1;
}
.health__content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 18px;
    position: relative;
}
.content__description-health {
    flex: 1 1 auto;
   
}
.title__text{
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    margin-bottom: 25px;
}
.span_blue {
    color:#4285F4 ;
}
.description-health__text {
    max-width: 375px;
    width: 100%;

    margin-bottom: 25px;

}
.text__item{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    color:  #616161;
    font-feature-settings: 'pnum' on, 'lnum' on;

    margin-bottom: 25px;
}
.content__get-start-watch {
    display: flex;
    
}
.get-start-watch__description {
    padding: 6px 12px;
}
.text__stay {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 126%;

    color: #B0B0B0;

   
}
.text__watch {
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 126%;

    letter-spacing: 0.165em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.health__img {
    z-index: 1;
}


/* ======================stay-safe =======================*/


.stay-safe {
    background-color: #fff;
    padding: 80px 0;
}
.stay-safe__container {
    display: flex;
    
    align-items: center;
}
.stay-safe__media {
    flex: 0 1 50%;
    position: relative;
    
}
.stay-safe__content {
    flex: 0 1 50%;
}
.stay-safe__image{
    padding-left:47px ;
    
}
.image__item-stay-safe{
    padding: 56px 0px 15px 0px;
    border-radius: 16px;
    position: relative;
    z-index: 2;
}
.description-stay-safe-health__h1 {
    max-width: 379px;
    width: 100%;
}
.description-stay-safe-health__text {
    max-width: 379px;
    width: 100%;
}


/* стилизация заднего декора img. Первый способ, Делаем блок шире, и распределямем по местам блока*/

.media__stay-safe-item{
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
}
.media__stay-safe-item1{
    top: 0;
    left: 0;
    width: 147px;
    height: 147px;
    z-index: 0;
}
.media__stay-safe-item2{
    bottom: 0;
    left: 32px;
    width: 77px;
    height: 77px;
    z-index: 0;
}
.media__stay-safe-item3{
    bottom: 107px;
    left: 261px;
    width: 77px;
    height: 77px;
    z-index: 0;
}


/* ===================talk-to-experts ===============*/

.talk-to-expert {
    background-color: #fafbfd;
    padding: 103px 0 116px 0;
    
}
.statistics-experts {
    max-width: 654px;
    margin: 0 auto;
  

    position: relative;

    margin-bottom: 120px;
   
}
.statistics-experts__body {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    
    position: relative;
    z-index: 2;
}
.statistics-experts__decor {
    position: absolute;
    background-color: #EC5863;

    
}
.statistics-experts__decor_item1 {
    width: 65.75px;
    height: 65.75px;
    border-radius:16px;

    transform: rotate(-30deg);
    bottom: -31px;
    left: -31px;
}
.statistics-experts__decor_item2 {
    width: 96.96px;
    height: 96.96px;
    border-radius:30px;

    transform: rotate(105deg);
    top: -40px;
    left: 209px;

}
.statistics-experts__decor_item3 {
    width: 127.47px;
    height: 127.47px;
    border-radius:30px;

    transform: rotate(-30deg);

    top: -24px;
    right: -75px;
}
 
.body-statistics-experts {
    padding: 20px 80px;
    display: flex;
    align-items: center;
}
.body-statistics-experts__item{
    flex: 1 1 33%;
    align-items: center;

}
.body-statistics-experts__value {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;

    color: #EC5863;

    letter-spacing: 0.14em;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.body-statistics-experts__text {
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.37em;
    text-transform: uppercase;

}


.talk-to-expert__content{
    display: flex;
   align-items: center;
}
.content__description-talk-to-expert {
    flex: 0 1 50%;
    padding: 0 20px 0 0;
}
.description-talk-to-expert__text {
      max-width: 400px;
      width: 100%;
}
.talk-to-expert__media-video{
    flex: 0 1 50%;
    padding: 0 0px 30% 0px;
    position: relative;
    
}

.talk-to-expert__media-video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


/* ========================healthcare ===========================*/
.healthcare{
    padding-top:80px  ;
}
.healthcare__content {
    margin: 0 auto;
    padding-bottom: 30px;
}
.healthcare__description-healthcare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.healthcare__bringing {
    padding: 39px 35px;
    display: flex;

    justify-content: center;
    position: relative;
    
    
}
.bringing__description-item-bringing {
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;


    margin-left: 72px;
    
    
    max-width: 278.17px;
    width: 100%;
    min-height: 276.52px;

    
    z-index: 1;

}

.description-item-bringing__content-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 25px 36px 25px;
}
.description-item-bringing__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;

    margin: 50px 0 5px 0;
}
.description-item-bringing__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

/* =============decor==================== */

.bringing__decor-healthcare {
    position: absolute;
    background: #EC5863;

   
}
.decor-healthcar__decor_item1 {
    width: 65.75px;
    height: 65.75px;

    left: 60px;
    bottom: 0;

    border-radius: 16px;
    transform: rotate(-30deg);
}
.decor-healthcar__decor_item2 {
    width: 96.96px;
    height: 96.96px;
    transform: rotate(105deg);

    top: 70px;
    left: 325px;
    border-radius: 30px;
}
.decor-healthcar__decor_item3 {
    width: 127.47px;
    height: 127.47px;
    bottom: 5px;
    right: 291px;

    transform: rotate(-30deg);

    border-radius: 30px;
}
.decor-healthcar__decor_item4 {
    width: 65.75px;
    height: 65.75px;

    border-radius: 16px;
    transform: rotate(-30deg);

    top: 0;
    right: 12px;
}




/*============== footer========== */


.footer {
    padding: 48px 0 46px 0;
}
.footer__app-href {
    display: flex;   
    justify-content: center;
    align-items: center;
}
.app-href__img{
    width: 160px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 56px;
}

/* adaptive */


@media (max-width:1087px) {
    [class*=__container] {
        max-width: 970px;
    }
}

@media (max-width:950px) {
    [class*=__container] {
        max-width: 750px;
    }


    /* адаптив .header */
    .header__container {
        min-height: 95px;
    }
    .header__button {
        flex: 0 0 150px;

    }
    .menu {
        padding-right: 20px;
    }
    /* адаптив блока .health */
    .health__img{
        display: none;
    }
    .health__content{
        justify-content:left;
        align-items: flex-start;   
    }
    .content__get-start-watch{
     margin-top: 20px  
    }
    .health__container::before{
       display: none;
    }
}

@media (max-width:760px){
    
    /* убирает фиксированную ширину контейнера */
    [class*=__container] {
        max-width: none;
    }

    /* адаптивное меню без js */
    .close-icon-menu,
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;

        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }
    .menu__burger-span {
        height: 2px;
        background-color: #000;
    }
    .close-icon-menu {
        display: none;
    }
    .close-icon-menu::before,
    .close-icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
        transform-origin: 0 0;
    }
    .close-icon-menu::before {
        transform: rotate(35deg);
    }
    .close-icon-menu::after {
        transform: rotate(-31deg);
    }
    .header:target .icon-menu {
        display: none;
    }
    .header:target .close-icon-menu {
        display: flex;
    }
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 90px 15px 30px 15px;
    }
    .header:target .menu__body {
        left: 0;
    }
    .menu__link {
        color: black;
        font-size: 20px;
    }
    .menu__item {
        margin-bottom: 25px;
    }
    .menu__item:last-child {
        margin-bottom: 0;
    }
    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__logo {
        position: relative;
        z-index: 5;
    }
    .button {
        position: relative;
        z-index: 5;
    }

    /* адаптив блока .stay-safe */
    .stay-safe__media{
        margin-right: 30px;
    }
    .stay-safe__container{
       flex-direction: column-reverse;
    }
    .stay-safe__media {
        flex: 1 1 100%;
        
    }
    .stay-safe__content {
        margin-bottom: 60px;
    }


    /* адаптив talk-to-experts */
    .talk-to-expert__statistics{
        max-width: 450px;
        width: 100%;
        align-items: center;
        justify-content: center;
    } 
    .body-statistics-experts{
        flex-direction: column;
    }
    .body-statistics-experts__item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .talk-to-expert__content{
        flex-direction: column;
    }
    .talk-to-expert__media-video{
        margin-top: 40px;
        min-height:200px ;
        max-width: 400px;
        width: 100%;
    }


    /*адаптив healthcare */
    .decor-healthcar__decor_item2{
        display: none;
    }
    .healthcare__bringing{
        flex-direction: column;
        align-items: center;
    }
    .bringing__description-item-bringing{
        margin: 20px 0;
    }
    .decor-healthcar__decor_item1{
        left: 160px;
        bottom: 20px;
    }
    .decor-healthcar__decor_item3{
        bottom: 540px;
        right: 191px;
    }
    .decor-healthcar__decor_item4{
        top: 20px;
        right: 200px;
    }
}

@media (max-width:450px) {
    .statistics-experts__decor_item2{
        display: none;
    }
    .footer__app-href{
        flex-direction: column;
       
        
    }
    .app-href__img{
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width:370px) {
    .no-text{
        display: none;
    }
    
}







